---
- name: Stat existing tmux config
  ansible.builtin.stat:
    path: "{{ user_home }}/.tmux.conf"
  register: tmux_stat
  become: false

- name: Copy tmux configuration file
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/../configs/.tmux.conf"
    dest: "{{ user_home }}/.tmux.conf"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: '0644'
  become: false
  when: sysadmin_tools_result.changed or not (user_home + '/.tmux.conf') | ansible.builtin.stat | ansible.builtin.json_query('stat.exists')
  register: tmux_copy_result
  changed_when: tmux_copy_result is changed
  failed_when: tmux_copy_result is failed
  notify: Reload tmux configuration if running
